.container {
  height: 100%;
  position: relative;
}
.header {
  height: 100%;
  //   background-color: var(--color-primary-light);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  transition: all 0.5s;
  &__box {
    @include center;
    text-align: center;
    width: 60%;
  }
  &__title {
    font-size: 6.8rem;
    font-weight: 400;
    margin-bottom: -1rem;
    text-transform: uppercase;
  }
  &__caption {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}

.results {
  //   background-color: orange;
  // margin: 4rem 4rem;
  padding: 4rem;
  // max-width: 130rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  transition: all 0.5s;
}
